#container {
  background-color: black;
}

#main-container {
  display: flex;
  flex: 1;

  flex-direction: row;
  min-height: 100vh;
}

#left-container {
  display: flex;
  width: 50%;
}

#rigth-container {
  display: flex;
  height: 100vh;
  width: 50%;
}

.title {
  color: white;
}
